<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user signup</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <div class="HW8">HW8</div>
        <div class="nave-items">
            <a href="/">home</a>
            <a href="/login">login</a>
            <a href="/register">signup</a>
        </div>
    </nav>
    <div class="log">
        <h1>Make a new account</h1>
        <br>
        <form action="/register" method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />
            </div>
            <br>
            <button type="submit">Make New Account</button>
        </form>
    </div>
    <h2>Users</h2>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <%= user.name %>
                    <form method="POST" action="/delete-user"
                        onsubmit="return confirm('Are you sure you want to delete <%= user.name %>?')">
                        <input type="hidden" name="name" value="<%= user.name %>">
                        <button type="submit">Delete</button>
                    </form>
            </li>
            <% }) %>
    </ul>
</body>

</html>